<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Daniel Nicholls. It uses data from mapbox.com and darksky.net!</p>
    <img class='dog' src="/img/dog.jpg" alt="test"/>
    <p class='caption'>Have a dachshund!</p>
</div>
{{>footer}}
</body>
</html>